---

---

<html lang="zh-Hans">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>猫猫狐工作室</title>
  </head>
  <body>
    <main class="h-screen flex flex-col justify-center items-center">
      <h1 class="my-4 text-8xl">猫猫狐工作室</h1>
      <h2 class="my-4 text-2xl">网站正在维护……</h2>
    </main>
  </body>
</html>
